APP_PORT=
APP_ENV=
CORS_ALLOWED_ORIGINS=*

DATABASE_HOST=
DATABASE_PORT=
DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_NAME=
DATABASE_SSLMODE=require
DATABASE_CONNECT_TIMEOUT=30s

JWT_SECRET=

GCP_PROJECT_ID=
GOOGLE_CLIENT_ID=